#featuredVideosEdit {
  display: flex;
  flex-direction: column;
  margin: 33px auto;
  margin-bottom: 150px;
}

#featuredVideosEdit h3 {
  color: var(--main);
  margin: 33px auto;
  text-align: center;
}

#featuredVideosEdit .currentVideos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
  grid-gap: 27px;
  margin-bottom: 15px;
  padding: 33px 0px;
  margin: 25px 10px;
}

@media screen and (max-width: 360px) {
  #featuredVideosEdit .currentVideos {
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  }
}

.vid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 666px;
  margin: auto;
  padding: 17px 17px 7px 17px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}

.currentVideos .video {
  height: 327px;
  width: 100%;
}

.video iframe {
  height: 100%;
  width: 100%;
}

.vid-container .buttons {
  padding: 13px 0px;
  width: 100%;
}

.buttons .bi {
  margin-right: 7px;
}

#featuredVideosEdit .see-more {
  width: 100%;
  max-width: 666px;
  margin: 30px auto 45px;
  padding: 0px 27px;
}
