#aboutus {
  color: white;
}

.aboutuspic {
  width: 100%;
  max-height: 315px;
  margin: 50px auto 30px auto;
}

#biography.container {
  background-color: var(--form-bg);
  padding: 13px 13px 33px;
  max-width: 100%;
  margin: 0px;
}

.bio .yesdevil {
  color: var(--main);
  text-shadow: 2px 1px black;
}

.bio p {
  margin: 50px 20px;
  text-align: center;
  text-shadow: 2px 1.5px black;
  max-width: 800px;
  letter-spacing: normal;
  font-family: var(--secondary-font);
}

.members .row {
  padding-top: 27px;
}

.members .bioPic img {
  max-width: 333px;
  width: 100%;
  border-radius: 5px;
}

.members p {
  margin: 10px auto;
  text-align: center;
  font-family: var(--secondary-font);
  letter-spacing: normal;
}

.a2a_kit {
  margin: auto;
}

span.a2a_svg {
  height: 44px;
  width: 44px;
}

.followme {
  height: 77px;
  width: 200px;
  margin: auto;
  cursor: pointer;
}

.ind-bio {
  height: 227px;
  margin: auto;
  background-color: var(--accordion-content-light);
  border-radius: 10px;
  max-width: 615px;
}

.ind-bio hr {
  margin-bottom: 15px;
}

.ind-bio a {
  margin: auto;
}

.bioPic {
  display: flex;
  justify-content: center;
}

.instafollow {
  width: 144px;
}

@media (max-width: 900px) {
  .members h4 {
    font-size: 2vw;
  }
}

.member-social-icons {
  margin-bottom: 0 !important;
  margin-top: 25px !important;
}

@media only screen and (max-width: 576px) {
  .member-social-icons {
    gap: 15px;
  }

  .member-social-icons a {
    margin: 0 7px;
  }
}

@media only screen and (max-width: 400px) {
  .member-social-icons {
    gap: 12px;
  }

  .member-social-icons a {
    margin: 0 5px;
  }
}

@media only screen and (max-width: 330px) {
  .member-social-icons a {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .member-social-icons a svg {
    width: 20px;
    height: 20px;
  }
}
