.form-label {
  margin-bottom: 3px;
}

#contactEdit {
  height: fit-content;
  padding: 0px 18px;
  margin-top: 81px;
  margin-bottom: 150px;
}

#contactEdit h3 {
  color: var(--main);
  margin: 22px 0px 33px 0px;
  text-align: center;
}

#contactEdit form {
  margin: auto;
  padding: 66px;
  max-width: 666px;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.3rem;
  border: 4px solid rgba(0, 0, 0, 0.3);
}

#contactEdit button {
  margin: 27px auto;
}

@media screen and (max-width: 735px) {
  #contactEdit form {
    padding: 33px 22px;
  }
}

@media screen and (max-width: 400px) {
  #contactEdit button {
    margin: 10px auto;
  }
}

@media screen and (max-width: 315px) {
  #contactEdit form {
    padding: 20px 15px;
  }
}

#contactEdit label {
  color: var(--main);
}

#contactEdit .bi {
  margin-left: 5px;
}

#contactEdit .form-control {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#bandsintownEdit {
  height: fit-content;
  padding: 0px 18px;
  margin-top: 81px;
  margin-bottom: 150px;
}

#bandsintownEdit h3 {
  color: var(--main);
  margin: 22px 0px 33px 0px;
  text-align: center;
}

#bandsintownEdit form {
  margin: auto;
  padding: 66px;
  max-width: 666px;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.3rem;
  border: 4px solid rgba(0, 0, 0, 0.3);
}

#bandsintownEdit button {
  margin: 27px auto 0px auto;
}

@media screen and (max-width: 735px) {
  #bandsintownEdit form {
    padding: 33px 22px;
  }
}

@media screen and (max-width: 400px) {
  #bandsintownEdit button {
    margin: 10px auto;
  }
}

@media screen and (max-width: 315px) {
  #bandsintownEdit form {
    padding: 20px 15px;
  }
}

#bandsintownEdit label {
  color: var(--main);
}

#bandsintownEdit .form-control {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
