#merchEdit hr {
  max-width: 85%;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 44px;
}

#merchEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#merchEdit h3 {
  color: var(--main);
  margin-top: 33px;
  text-align: center;
}
/* 
#merchEdit p {
  color: white;
  margin-bottom: 33px;
  font-family: var(--secondary-font), 'Courier New', Courier, monospace;
  letter-spacing: normal;
} */

/* @media screen and (max-width: 350px) {
  #merchEdit .bi-arrow-right-short {
    display: none;
  }
} */
