#editCarousel {
  height: fit-content;
  margin: 33px auto 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#editCarousel h3 {
  color: var(--main);
  margin-top: 33px;
  text-align: center;
}

#editCarousel hr {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 44px;
}

#editCarousel .selectedFile {
  color: white;
}
