#editCarousel {
  height: fit-content;
  margin: 33px auto 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#editCarousel .selectedFile {
  color: white;
}
