.secondary-nav {
  background-color: var(--secondary-nav-bg);
  color: var(--main);
  text-shadow: 1px 1px var(--secondary);
  border-bottom: 0.5px solid white;
  position: sticky;
  z-index: 100;
  width: 100%;
}

.secondary-nav .nav-link {
  text-shadow: none;
}

.secondary-nav .nav-link:hover {
  color: var(--main) !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.secondary-nav .nav-link.active {
  text-shadow: 1px 1px var(--secondary);
  color: var(--main) !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
