/* StaticAlert Component Styles */

.alert {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 0.9em;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: var(--secondary-font);
}

.alert-info {
  background-color: rgba(13, 202, 240, 0.1);
  border-color: #0dcaf0;
  color: #0dcaf0;
}

.alert-success {
  background-color: rgba(25, 135, 84, 0.1);
  border-color: #198754;
  color: #d1e7dd;
}

.alert-warning {
  background-color: rgba(255, 193, 7, 0.1);
  border-color: #ffc107;
  color: #ffc107;
}

.alert-danger {
  background-color: rgba(220, 53, 69, 0.1);
  border-color: #dc3545;
  color: #f8d7da;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .alert {
    font-size: 0.8rem;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .alert {
    font-size: 0.75rem;
    padding: 8px;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .alert {
    font-size: 0.7rem;
    padding: 6px;
    margin-top: 8px;
  }
}

@media (max-width: 360px) {
  .alert {
    font-size: 0.65rem;
    padding: 5px;
    margin-top: 6px;
  }
}
