#editPictures {
  height: fit-content;
  margin: 33px auto;
  margin-bottom: 150px;
}

#editPictures h3 {
  color: var(--main);
  margin-top: 33px;
  text-align: center;
}

#editPictures hr {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 44px;
}

#editPictures .see-more {
  max-width: 666px;
  margin: 88px auto;
  padding: 0px 27px;
  width: inherit;
}

@media (max-width: 400px) {
  #editPictures .see-more {
    padding: 0px;
  }
}
