
#themeEdit {
  height: fit-content;
  padding: 0px 18px;
  margin-top: 81px;
}

#themeEdit h3 {
  color: var(--main);
  margin: 22px 0px 33px 0px;
  text-align: center;
}

#themeEdit form {
  margin: auto;
  padding: 66px;
  max-width: 666px;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.3rem;
  border: 4px solid rgba(0, 0, 0, 0.3);
}

#themeEdit button {
  margin: 27px auto;
}

@media screen and (max-width: 735px) {
  #themeEdit form {
    padding: 33px 22px;
  }
}

@media screen and (max-width: 400px) {
  #themeEdit button {
    margin: 10px auto;
  }
}

@media screen and (max-width: 315px) {
  #themeEdit form {
    padding: 20px 15px;
  }
}

#themeEdit label {
  color: var(--main);
}

#themeEdit .bi {
  margin-left: 5px;
}

#themeEdit .form-control,
#themeEdit .form-control-color {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
