#bottomNav {
  overflow: hidden;
  z-index: 1002;
}

#newsSub {
  color: var(--main);
}

#newsSub:hover {
  color: black;
}

#newsSub:disabled {
  color: black;
}

#newsDetails {
  font-size: 17px;
  font-family: var(--secondary-font);
  letter-spacing: normal;
  margin-top: 27px;
  color: white;
}

@media only screen and (max-width: 650px) {
  .newsletter input {
    margin-bottom: 5px;
  }
  .newsletter input.form-control {
    max-width: 286px;
  }
}

@media only screen and (max-width: 576px) {
  .newsletter input {
    margin-bottom: 0px;
  }
  input.form-control {
    margin-left: 0px;
  }
}

/*BOTTOM NAV ICONS*/

.iconsNav {
  display: flex;
  gap: 20px;
  padding: 25px 30px;
}

.mailz {
  border-radius: 4px;
}

#st-1 span {
  font-family: var(--secondary-font);
}

#contact a {
  color: var(--main);
}

.jumbotron p img {
  height: 33px;
}

a {
  cursor: pointer;
  color: white;
}

/*FOOTER */

footer {
  color: white;
}

footer h5 {
  color: var(--main);
  text-shadow: 2px 0px black;
}

#footer-links .nav-link {
  padding: 0px;
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

#footer-links li {
  padding: 0px 16px;
  color: white;
}

#footer-links li a:hover {
  color: var(--main);
  text-shadow: 1px 1px black;
}

.footer-copyright {
  color: white;
  border-top: 1px solid black;
  background-color: black;
  opacity: 0.4;
}

.footer-copyright p {
  margin-bottom: 5px;
}

a.nav-item.active {
  color: var(--main);
  text-shadow: 1px 1px black;
}

#subscribe {
  margin: 0px 30px;
}

@media only screen and (max-width: 485px) {
  #bottomNav {
    padding-top: 21px;
  }
}

@media only screen and (max-width: 400px) {
  #newsDetails {
    font-size: 4vw;
  }
  ul#newsDetails {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 300px) {
  ul#newsDetails {
    padding-left: 10px !important;
  }
}

@media only screen and (max-width: 320px) {
  .iconsNav {
    padding-top: 10px;
  }
}

.footer-link {
  font-family: var(--secondary-font);
}
