.secondary-nav {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--main);
  text-shadow: 1px 1px var(--secondary);
  border-bottom: 0.5px solid white;
  position: sticky;
  z-index: 100;
  width: 100%;
}
