/* COLORS */
:root {
  --main: #E3FF05;
  --secondary: lightcoral;
}

.navbar-light .navbar-brand.yesdevil {
  color: var(--main);
  text-shadow: 2px 1px black;
  font-size: 25px;
}

.navbar-light .navbar-brand.yesdevil {
  font-size: 35px;
  color: var(--main);
  text-shadow: 2px 1px var(--secondary);
}

@media (max-width: 2000px) {
  .navbar-light .navbar-brand.yesdevil {
    font-size: 2.5vw;
  }
}

@media (max-width: 991px) {
  .navbar-light .navbar-brand.yesdevil {
    font-size: 4vw;
  }
}

@media (max-width: 500px) {
  .navbar-light .navbar-brand.yesdevil {
    font-size: 8vw;
  }
}

nav {
  font-size: 21px;
  background-color: black;
  overflow: hidden;
  height: 100%;
  min-height: 88px;
}



@media (max-width: 2000px) {
  nav {
    font-size: 1.5vw;
  }
}

@media (max-width: 991px) {
  nav {
    font-size: 3vw;
  }
}

@media (max-width: 500px) {
  nav {
    font-size: 7vw;
  }
}

.navbar-nav a.nav-link.nav-item:hover {
  color: var(--main);
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  width: fit-content;
}

.navbar-toggler {
  padding: 2px;
}

.navbar-nav {
  width: 100%;
}

.navbar-toggler {
  background-color: white;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--main);
}

.cartQuantity {
  background-color: var(--secondary);
  border: 1px solid var(--main);
  /* text-shadow: 1px 1px var(--main); */
}