/* VideoContainer grid and spacing (from media videoEdit.css) */
.currentVideos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
  grid-gap: 27px;
  margin-bottom: 15px;
  padding: 33px 0px;
}

@media screen and (max-width: 360px) {
  .currentVideos {
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  }
}
